* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    background-color: #CDE97F;
    padding: 0 5%;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    margin: 40px 0 30px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    cursor: default;
}

.heading__deco {
    color: #C5278C;
}

.heading::before {
    display: block;
    position: absolute;
    content: '';
    background-image: url('../images/checkmark.png');
    background-size: contain;
    width: 1.7em;
    height: 1.7em;
    top: -0.5em;
    left: -1.15em;
    opacity: 50%;
}

.main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input */

.add {
    display: flex;
    align-items: center;
}

.add__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .3);
    /* border: 1.8px solid #999999; */
    border-radius: 25px;
}

.add__search-img {
    width: .8rem;
    margin-left: 13px;
    opacity: 50%;
}

.add__input {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 0 9px;
    height: 2.2rem;
    border: none;
    border-radius: 25px;
    outline: transparent;
}

.add__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 10px;
    width: 2.3rem;
    height: 2.3rem;
    background-color: #C5278C;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s;
}

/* Panel */

.panel {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.panel__done {
    margin-right: 70px;
    cursor: default;
}

.panel__done-counter {
    font-weight: 500;
    color: #C5278C;
}

.panel__remove-done {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: #5C0000;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* List */

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.task__checkbox {
    position: relative;
    -webkit-appearance: none;
    width: 1.4em;
    height: 1.4em;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: 2px;
    cursor: pointer;
}

.task__checkbox:checked {
    background-color: #3FA326;
    border: none;
}

.task__checkbox::before {
    position: absolute;
    content: '';
    top: .1em;
    left: .4em;
    color: #fff;
    width: .3em;
    height: .7em;
    border-width: 0 2.5px 2.5px 0;
    border-style: solid;
    transform: rotate(45deg);
    opacity: 0;
}

.task__checkbox:checked::before {
    opacity: 1;
}

.task__checkbox:checked+.task__desc .task__name {
    color: #969696;
    text-decoration: line-through;
}

.task__desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #FFE9B1;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .3);
    width: 85%;
}

.task__name {
    width: 100%;
    font-size: .9rem;
    padding: 12px 5px 12px 12px;
}

.task__remove-btn {
    flex-shrink: 0;
    line-height: 25px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.task__remove-btn::before {
    display: block;
    content: 'x';
    color: #ACACAC;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .tasks {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .heading {
        font-size: 3rem;
        margin: 60px 0 50px;
    }

    .add__search-img {
        width: .9rem;
    }

    .add__input {
        width: 300px;
        font-size: 1rem;
        padding: 0 9px;
        height: 2.5rem;
    }

    .add__btn {
        font-size: 1.5rem;
        margin-left: 15px;
        width: 2.6rem;
        height: 2.6rem;
    }

    .add__btn:hover {
        background-color: rgb(218, 79, 167);
    }

    .panel {
        width: 400px;
        margin: 40px 0 20px;
    }

    .tasks {
        width: 60%;
    }

    .task__desc {
        cursor: pointer;
    }

    .task__name {
        font-size: 1rem;
        cursor: pointer;
    }

    .task__remove-btn:hover::before {
        color: rgb(163, 46, 46);
    }
}

@media (min-width: 1440px) {
    .tasks {
        width: 50%;
        max-width: 600px;
    }
}